body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16rem;
}

h1 {
  background-size: 0vmax;
  border-radius: 10px;
  background: blanchedalmond;
  text-align: center;
  line-height: 2em;
}

p {
  background-color: rgba(236, 233, 233, 0.952);
  border-radius: 10px;
  color: black;
  font-size: 3rem;
  font-weight: bold;
}

.big-text {
  margin: 1rem 2rem;
}

.countdown-el {
  text-align: center;
}

.countdown-el span {
  background-color: rgba(236, 233, 233, 0.952);
  border-radius: 5px;
  color: black;
  font-size: 1.3rem;
}
